.popup__input{
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
.popup__input:last-child{
    margin-bottom: 48px;
}

.popup__input:focus{
    outline-style: inherit;
}


@media all and (max-width: 320px) {
    .popup__inpute {
        max-width: 282px;
        height: 14px;
    }
}
    