.element__like-btn{
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-repeat: no-repeat;
    padding: 0;
    background-color: transparent;
}

.element__like-btn:hover{
    opacity: 0.5;
    transition: linear 0.3s;
    cursor: pointer;
}
.element__like-btn:active{
    background-color:  #000000;
}