.element__bin {
    background-image: url(../../../images/bin.svg);
    width: 18px;
    height: 19.3px;
    position: relative;
    border: none;
    background-repeat: no-repeat;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    left: 88%;
    bottom: 68%;
}