.profile__edit{
    background-image: url(../../../images/Edit\ Button.svg);
    min-width: 24px;
    height: 24px;
    background-color: transparent;
    background-size: cover;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__edit:hover{
    opacity: 0.6;
    transition: 0.3s;
}

@media all and (max-width: 320px) {
    .profile__edit {
        min-width: 18px;
        height: 18px;
}
}