.footer {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media all and (max-width: 936px) {
    .footer {
        max-width: 680px;
        margin-bottom: 48px;
    }
}

@media all and (max-width: 586px) {
    .footer {
        max-width: 282px;
        margin-bottom: 36px;
    }
}
